# Игнорировать папку .gradle
/.gradle/

# Игнорировать папку build
/build/

# Игнорировать все файлы с расширением .log
*.log

# Игнорировать временные файлы IDE
.idea/
*.iml

# Игнорировать локальные настройки
*.local

